@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import './animations.css';
@import './btn.css';
@import './preloader.css';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/ra-cover.jpg);
}

.wrap {
    position: relative;
    min-height: 280px;
    width: 80vw;
    margin: 0 auto;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px auto 0px;
    position: relative;
}

.img {
    max-width: 100%;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}

.p {
    color: #02b1c7;
    position: relative;
    z-index: 10;
    text-align: left;
    font-family: 'Barriecito', cursive;
}

tr {
    vertical-align: middle;
    font-family: 'Barriecito', cursive;
}

.img-table {
    height: 200px;
    border-radius: 15px;
}

td {
    font-size: 27px;
    line-height: 1;
    font-family: 'Barriecito', cursive;
    color: #02b1c7;
    min-width: 200px;
    border: 1px solid greenyellow;
    border-radius: 15px;
    margin: 0 10px;
    padding: 20px;
    background: rgb(173 255 47 / 90%);
    text-align: center;
    position: relative;
    /* animation: toHeigth 2s linear 1s forwards; */
    border: 2px solid;
    box-shadow: 5px 0px 35px #02b1c7;
}

.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    white-space: nowrap;
    /* opacity: 0; */
    /* animation: toTop 2s linear 1s forwards; */
    font-size: 35px;
}

.desc {
    opacity: 0;
    animation: toMiddle 2s linear 1s forwards;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.img-table {
    /* animation: toScale 2s linear 1s forwards; */
}

.rotate {
    /* animation: toRotate 2s linear 1s forwards; */
}

.input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    background: none;
    outline: none;
    border: none;
    color: #02b1c7;
    padding: 10px 15px;
    background: greenyellow;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s all;
    font-family: 'Barriecito', cursive;
    font-size: 25px;
    border: 2px solid;
    box-shadow: 0px 0px 30px 17px #02b1c7;
}

::placeholder {
    color: #02b1c7;
}